* {
    font-family: monospace;
    -webkit-font-smoothing : none;
}

.debugger {
    display: inline-block;
    text-align: left;
}

.debugger .memory {
    display: inline-block;
    floaT: left;
    width: 250px;
    color: #F8F8F2;
    background: #272822;
}

.debugger .registers {
    display: inline-block;
    color: #F8F8F2;
    background: #272822;
    padding: 0 10px;
    height: 300px;
    width: 60px;
    border-left: 1px solid #484848;
    float: left;
}

.debugger .registers div span {
    color: #4495cc;
}

.debugger .memory div.active {
    background: rgba(213, 110, 0, 0.33);
}

.debugger .memory div.active span {
    color: #FFB00F;
    font-weight: bolder;
}


.field, .config-field {
    display: inline-block;
    background: #272822;
    margin-left: 30px;
    padding: 2px;
}

.field div[data-x].wall,
.config-field div[data-x].wall {
    float: left;
    width: 26px;
    height: 26px;
    background-image: url('images/brickwall.jpg');
    background-repeat: no-repeat;
    background-size: 40px;
    border: 2px solid black;
}

.field div[data-x].label,
.config-field div[data-x].label {
    float: left;
    width: 26px;
    height: 26px;
    background-image: url('images/label.png');
    background-repeat: no-repeat;
    background-size: 16px;
    border: 2px solid black;
    background-position-x: 5px;
}

.field div[data-x].empty,
.config-field div[data-x].empty {
    float: left;
    width: 26px;
    height: 26px;
    background: #272822;
    border: 2px solid black;
}

.field div[data-x].label.robot,
.config-field div[data-x].label.robot {
    float: left;
    width: 26px;
    height: 26px;
    background-image: url('images/red-robot.png');
    background-size: 26px;
    background-repeat: no-repeat;
    background-position-x: 0 !important;
    border: 2px solid black;
}

.textual-info {
    display: inline-block;
    float: left;
    text-align: left;
    padding: 0 10px;
    width: 203px;
}

.other-configs {
    display: inline-block;
    width: 200px;
    text-align: left;
    float: left;
    margin-left: 30px;
}

.other-configs input {
    border: 0 solid black;
    outline: none;
    padding: 5px 0 5px 15px;
    width: 100%;
    margin: 5px 0;}

.config-field {
    float: left;
}

.config-field div {
    cursor: pointer;
}

.field div[data-x].robot,
.config-field div[data-x].robot {
    float: left;
    width: 26px;
    height: 26px;
    background-image: url('images/robot.png');
    background-size: 26px;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.header {
    width: 810px;
    position: relative;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.header .step.active {
    background: #FF9800;
    cursor: pointer;
}
.header .step {
    cursor: default;
}

.header .step {
    width: 33.33%;
    display: inline-block;
    line-height: 50px;
    background: #D2D2D2;
    color: white;
    float: left;
    text-align: center;
}

.header .step .title {
    width: 70px;
    background: #8A8A8A;
    display: inline-block;
    floaT: left;
}

.header .step.active .title {
    background: #C77700;
}

.header .step. description {
    display: inline-block;
    width: calc(100% - 80px);
    text-align: left;
    padding-left: 10px;
}

.container {
    width: 810px;
    padding: 0;
    margin: 0 auto;
    height: 420px;
    background: #EFEFEF;
    border-top: 5px solid #C77700;
}

.container .frame-1,
.container .frame-2,
.container .frame-3 {
    display: none;
    text-align: center;
}

.container .frame-1.active,
.container .frame-2.active,
.container .frame-3.active {
    display: block;
}

.container .frame-3 .actions {
    margin-bottom: 10px;
}

.container .frame-1,
.container .frame-2 {
    padding-top: 20px;
}

.container button {
    color: white;
    margin-top: 10px;
    background: #FF9800;
    border: 0 solid black;
    padding: 10px 30px;
    border-bottom: 2px solid #FF9800;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    outline: none;
}

.container button:hover {
    border-bottom: 2px solid #C77700;
}


textarea {
    resize: none;
    border: 0 solid black;
    outline: none;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.footer {
    width: 810px;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.footer a span {
    color: gray;
}