* {
    font-family: monospace;
}

.debugger .memory {
    display: inline-block;
    floaT: left;
    width: 250px;
    color: #F8F8F2;
    background: #272822;
}

.debugger .registers {
    display: inline-block;
    margin-left: 40px;
}

.debugger .registers div span {
    color: red;
}

.debugger .memory div.active {
    background: rgba(213, 110, 0, 0.33);
}

.debugger .memory div.active span {
    color: #FFB00F;
    font-weight: bolder;
}
